.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;
    margin-right: 40px;
  }
  
  .link.active {
    font-size: xx-large;
    font-size: 100;
    color: #646cff;
  }
  .conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
  